.circle {
  border-radius: 50%;
  background-color: black;
  display: inline-block;
}
.extra-small {
  width: 5px;
  height: 5px;
}
.small {
  width: 10px;
  height: 10px;
}
.medium {
  width: 15px;
  height: 15px;
}
.large {
  width: 20px;
  height: 20px;
}
.brush-div {
  width: 40px;
  height: 60px;
}
.color-div {
  width: 60px;
  height: 40px;
}
.color-div.active {
  transform: scale(1.2) scale(0.7);
  border: 2px solid black;
}
.tool-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
